* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    text-align: center;
    font-family: sans-serif;
    background: url('images/kitchenw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: auto;
    min-height: 100vh;
    display: grid;
    place-content: center;
    gap: 64px;
}

header h1 {
    animation: fadeInSlide 1.5s;
}

#envanter {
    background: rgba(224, 222, 222, 0.15);
    border-radius: 20px;
    margin: auto;
    backdrop-filter: blur(10px);
    width: 100%;
}

.add-item input {
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
}

.add-item button {
    padding: 10px 20px;
    background: #4b0202;
    color: #ffffff;
    border-radius: 20px;
    font-size: 16px;
}

.add-item button:hover {
    transform: scale(1.05);
    background: #360101;
}

ul {
    list-style: none;
}

li {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

li:hover {
    background: rgba(192, 177, 177, 0.3);
}

li button {
    background-color: #ffffff;
    border-radius: 20px;
    float: right;
}

li button:hover {
    transform: scale(1.05);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

footer img:hover {
    transform: scale(1.2);
}

button {
    border: none;
    cursor: pointer;
    background-color: inherit;
}

h2 {
    margin-bottom: 20px;
}