body {
    text-align: center;
    font-family: sans-serif;
    background: url('images/kitchenw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 20px;
    margin: auto;
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header h1 {
    padding: 15px;
    margin: 100px;
    animation: fadeInSlide 1.5s;
    /* border-radius: 20px; 
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); */
}

#envanter {
    background: rgba(224, 222, 222, 0.15);
    border-radius: 20px;
    padding: 30px;
    max-width: 600px;
    margin: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.add-item {
    margin-bottom: 20px;
}

.add-item input {
    padding: 10px;
    border: unset;
    border-radius: 20px;
    margin-right: 10px;
    width: 200px;
    font-size: 16px;
}

.add-item button {
    padding: 10px 20px;
    background: #4b0202;
    color: #ffffff; 
    border:unset;
    border-radius: 20px;
    font-size: 16px;
}
.add-item button:hover {
    transform: scale(1.05);
    background: #360101;
}

ul {
    list-style: none;
}

li {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

li:hover {
    background: rgba(192, 177, 177, 0.3);
    /* transform: scale(1.05); */
}

li button {
    background: #ffffff;
    color: #ffffff;
    border: unset;
    border-radius: 20px;    
    float: right;
}
li button:hover {
    transform: scale(1.05);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    padding: 10px;
}

footer img:hover {
    transform: scale(1.2);
}
